.git
.gitignore
.idea
.vscode

node_modules
**/node_modules
.pnpm-store

frontend/.svelte-kit
frontend/build
backend/logs

prisma/*.db
prisma/*.db-journal

.env
.env.*
backend/.env
frontend/.env
!backend/.env.example
!frontend/.env.example
