# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/frontend/static/
/frontend/.svelte-kit/
/frontend/build/
/frontend/coverage/
/backend/dist/
/shared/dist/
/coverage/
.svelte-kit/
.env
.env.*
